body {
    font-family: Consolas, monospace;
    background: #f5f5f5;
    padding: 20px;
}

.tree {
    line-height: 1.7;
    font-size: 15px;
    white-space: pre;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.folder {
    color: #005bbb;
    font-weight: bold;
}

.file {
    color: #333;
}
